.card {
    position: relative;
}

.cardNameAndIcon, .bottom {
    display: flex;
    justify-content: space-between;
}

.cardNameAndIcon {
    margin-bottom: 20px;
}

.icon {
    position: absolute;
    top: 0;
    right: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.right {
    align-self: flex-end;
    text-align: right;
}

.rightText {
    color: var(--warn-color);
}

.tempWithPointSwitcher {
    display: flex;
    align-items: flex-end;
}

.unitsSwitcher {
    display: flex;
    height: 40px;
    align-items: flex-start;
}

.unitsSwitcherDelimiter {
    margin-top: 3px;
}

.graph {
    display: flex;
    justify-content: center;
}

.dot {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #e1bb88;
}

.pointActive {
    color: var(--warn-color) !important;
}